# Ignore everything:
*

# Except for the following:
!/.gitignore
!/README.txt
!/*.h
!/*.cpp
!yagsbpl-2.1/
!yagsbpl-2.1/*.h
!yagsbpl-2.1/*.cpp
!yagsbpl-2.1/planners/
!yagsbpl-2.1/planners/*.h
!yagsbpl-2.1/planners/*.cpp
!examples-2.x/
!examples-2.x/*.h
!examples-2.x/*.cpp
!examples-2.x/*.sh
!examples-2.x/*.txt

